@import 'bootstrap';
@import 'navbar', 'quem', 'usuario', 'patrocinio', 'publicacao';

body{
    background-color:#fff;
    border: 0;
    padding: 0;
    margin: 0;
}

.btn-success {
    margin-right: 7px;
    background-color: #FFA500;
    border-color: #fff;
}
.btn-success:hover {
    background-color: #f6bd1f;
}
.btn-info{
    color: white;
    background-color: #FFA500;
    margin-right: 7px;
    border-color: #fff;
}


.btn-info:hover{
    background-color: #f6bd1f;
    color: white;

}

.nav-item  {
    margin-left: 170px;
    font-size: 23px;

}

.btn-primary{
   background-color:#ff7e00;
   height: 55px;
   border-color:#fff ;
   font-family: 20px;

}

.btn-primary:hover{
   background-color: #ffa639;
}




.text-center{
    font-size: 25PX;
}

.navbar-brand {
    height: 110px;
    border-radius: 48px;

}

li.nav-item a.nav-link:hover {
    font: 28px normal;
    color: #eb830c;
}

.text-center{
   font-family: Helvetica ;
    font-size: 25px;
}


.img-fluid rounded-start {
   height: 50px;
}

.navbar container-fluid{
    background-color: #eb830c;
}

.site-bg{
    background-color: #fff0df;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    background-color: #01a89e;
    padding: 10px 0;
}

.container-footer{
    max-width: 1400px;
    padding: 0 2px;
    margin:auto;

}
 .row-footer{
    display: flex;
    flex-wrap: wrap;
    min-width: 20rem;
 }

 .footer-col{
    width: 25%;


 }
 .footer-col h4{
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
 }

 .footer-col ul{
    list-style: none;

 }

 .footer-col li{
    margin: 10px 0;
 }

 .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color:white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
 }

 .footer-col ul li a:hover{
    color:#fff0df;
    padding-left: 10px;
 }

 .medias-sociais{
    text-align: center;
 }



footer{
    text-align: center;

}

.logo{
    border-radius: 25px;
    width: 50%;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

// Cards iniciais (últimas publicações)

.card-home{
    font-weight: 600;
    text-align: center;
    font-size: x-small;
    color: rgb(0, 0, 0); text-shadow: rgb(172, 157, 157) 0.0em 0.1em 0.1em;
    
}

card-texxt{
    font-size: 120px;
    background-color: #fcfcfc;

}

.inicial{
    height: 0%;
    min-height: 20rem;
}

.teste{
    align-items: right;
}

.text-ultima{
    text-align: left;
    color: rgb(0, 0, 0); text-shadow: rgb(172, 157, 157) 0.0em 0.1em 0.1em;
    font-size: x-large;
    background-color: rgb(255, 255, 255);
    

}

.botao{
    text-align: center;
}

.card-img-top{
    padding: 10px;
    border: 1px solid #e9e9e9;
    margin-bottom: 7px;
    border-radius: 3%;
}

.card{
    border-radius: 3%;
}

.pad_options{
    float: left;
    width: 100%;
    margin-bottom: 7px;
}

.flex{
    min-width: 50%;
}

.botao-perfil{
    background-color: #FFA500;
    padding: 4px;
    text-align: center;
    width: 60%;
    font-size: 18px;
    border-radius: 10px;
    font-weight: 500;
}



// Perfil do Animal

.perfil-titulo{
    text-align: center;
    color: rgb(0, 0, 0); text-shadow: rgb(172, 157, 157) 0.0em 0.1em 0.1em;
    font-size: xx-large;
}

.imagem-perfil{
    width: 160%;
    height: 100%;
}

.descricao-perfil{
    font-size: x-large;
    text-align: center;
    text-align: right;
}

.fw-bold{
    font-size: x-large;
    text-align: right;
}