
.border{
   background-color: #fff;
    height: auto;
    width: 700px;
    box-shadow: 6px 6px 6px #888;
    margin-left: 28%;
    
    
}

.titulo{
    font-family: 'Roboto', sem serifa;
    color:#000000e6;
    margin-top: 0;
    letter-spacing: .05em;
    font-weight: 400;
    
}

.titulo2{
    font-family: 'Roboto', sem serifa;
    color:#000000e6;
    font-size: 30px;
    letter-spacing: .05em;
    
}

.imagem{
    width: 50%;
    height: auto;
    border-radius: 5%;
}

.conte{
    font-size: 40 px;
    font-family: 'Roboto', sem serifa;
    font-weight: 300;
    
}