
.border{
   background-color: #fff;
    height: auto;
    width: 100%;
    box-shadow: 6px 6px 6px #888;
    text-align:center;

}

.titulo, .subtitulo{
    font-family: 'Patua One', cursiva;
    color:#e39013e6;
    margin-top: 0;
    letter-spacing: .05em;
    font-weight: 400;
    font-weight: bold;


}

.titulo2{
    font-family: 'Roboto', sem serifa;
    color:#000000e6;
    font-size: 30px;
    letter-spacing: .05em;

}

.imagem{
    width: 50%;
    height: auto;
    border-radius: 10%;
}

.conte, .conte2{
    font-size: 25px;
    font-family: 'Fira Sans', sem serifa;
    font-weight: 300;
    letter-spacing: .05em;

}
