.quem-somos{
    background-color: #fcc96b;
    padding: 15px;
}

.row{
    margin-bottom: 1%;
}

.lindos{
    width: 70%;
    border-radius: 3%;
    background-color: #fff99e;
    padding: 15px;
}

.objetivo{
    font-size: 25px;
    font-weight: 400;
}

.imagem{
    flex: 1;
}

.conteudo{
    flex: 1;
    text-align: start;


    & h1{
        font-size: 3rem;
        text-align: center;
        color: white; text-shadow: black 0.0em 0.1em 0.1em
    }
}
