.dogfofiss{
    width: 50%;
    border-radius: 50%;
}

.linhaum{
    font-size: 25px;
}

.linhadois{
    font-size: 25px;
}

.linhatres{
    font-size: 25px;
}

.linhaquatro{
    font-size: 25px;
}

.linhacinco{
    font-size: 25px;
}

col{
    align-items: 25%;
}

.conteudo{
    text-align: left;
}






